.popover {
	background-color: #fff;
	color: #484747;
	display: none;	
	position: relative;
	opacity: 0;
	border: 2px solid #c2c2c2;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-transition: opacity 0.25s linear;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-transition: opacity 0.25s linear;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: opacity 0.25s linear; 
	width: 40%;
 }
 
	.popover.active {
		opacity: 1; 
	}
	.popover > .triangle {
		position: absolute;
		top: -30px;
		border-top: 15px solid rgba(0,0,0,0);
		border-left: 15px solid rgba(0,0,0,0);
		border-right: 15px solid rgba(0,0,0,0);
		border-bottom: 15px solid #c2c2c2; 
	}
	.popover > .header {
		font-weight: bold;
		font-size:14px;
		margin: 0;
		padding: 7px 0 0 0;
		height: 25px;
		color: #484747;
		background-color: #fff;
		/* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.2, rgba(255, 255, 255, 0.4)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent) ); */
		text-align: center; 
	}
	.popover > .content {
		font-size: .875em;
		overflow: hidden;
		padding: .7em;
		
	}

	
		